RewriteEngine On
RewriteBase /webbanhang/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]



<IfModule mod_headers.c>
    Header unset X-Powered-By
    Header unset Server
</IfModule>

Options -Indexes
ServerSignature Off
